body {
    background: #f2f2f7;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", sans-serif;

    display: flex;
    justify-content: center;

    padding-top: 40px;
    margin: 0;
}

.container {
    width: 400px;

    background: white;

    border-radius: 25px;

    padding: 25px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

h1 {
    font-size: 34px;
    font-weight: 700;

    margin-bottom: 20px;

    color: #111;
}

form {
    display: flex;
    gap: 10px;

    margin-bottom: 20px;
}

input {
    flex: 1;

    border: none;

    background: #f2f2f7;

    padding: 14px;

    border-radius: 12px;

    font-size: 16px;
}

input:focus {
    outline: none;
}

button {
    border: none;

    background: #34c759;

    color: white;

    padding: 14px 18px;

    border-radius: 12px;

    font-size: 16px;

    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

ul {
    list-style: none;

    padding: 0;
    margin: 0;
}

li {
    background: #f9f9fb;

    border-radius: 16px;

    padding: 16px;

    margin-bottom: 12px;

    display: flex;

    align-items: center;
}

a {
    text-decoration: none;

    color: #111;

    font-size: 18px;

    width: 100%;

    display: flex;

    align-items: center;

    gap: 12px;
}

.completed {
    color: #8e8e93;
}

.history-card {
    background: #f2f2f7;

    border-radius: 16px;

    padding: 15px;

    margin-top: 15px;
}

.history-card strong {
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    margin-top: 20px;
}