<!doctype html>
<html>
<head>
<link rel="stylesheet " href="/static/style.css">
<title>Grocery App</title>
</head>

<body>

<div class="container">
    <h1>Grocery List</h1>

    <form method="POST" action="/add">
        <input name="item" placeholder="Add item" required> 
        <button type="submit">Add</button>
    </form>

    <ul>
    {% for item in items %}
        <li>
             <a href="/toggle/{{ loop.index0 }}">
                {% if item.done %}
                    <del>{{ item.name }}</del>
                {% else %}
                    {{ item.name }}
                {% endif %}
            </a>

        </li>
    {% endfor %}
    </ul>
</div>

</body>
</html>

