<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<title>Grocery App</title>
</head>

<body>

<div class="container">
    <h1>Grocery List 🗒️</h1>

    <form method="POST" action="/add">
        <input name="item" placeholder="Add item" required> 
        <button type="submit">Add</button>
    </form>



    <ul>
    {% for item in items %}
        <li>
             <a href="/toggle/{{ loop.index0 }}">
                {% if item.done %}
                    ✅ <span class="completed">{{ item.name }}</span>
                {% else %}
                    ⬜ {{ item.name }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

<a href="/complete">
    <button>Complete!</button>
</a>

</div>

<h2>Previous Shops</h2>

{% for entry in history %}

<div class="history-card">
    <strong>{{ entry.date }}</strong>

    <ul>
        {% for item in entry.items %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>


</div>

{% endfor %}

</body>
</html>

